.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 150px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    margin-top: 10px;
}

.card img {
    max-width: 150px;
}

.card:hover {
    transform: scale(1.05);
}