.main {
    padding: 20px;
}

.main form {
    display: flex;
    justify-content: center;
}

.main input {
    padding: 10px;
    width: 30vw;
    background-color: rgb(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    outline: none;
    color: #fff;
}

.main ::-webkit-input-placeholder {
    color: #d6d6d6;
}

.main form div {
    position: relative;
    display: flex;
    align-items: center;
}

.main button {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    right: 5px;
    font-size: 22px;
    position: absolute;
    top: 5px;
    right: 7px;
    color: #d6d6d6;
    cursor: pointer;
}

/* Seção 1 */

.recommended {
    margin-top: 130px;
}

/* Seção 2 */
.movies {
    margin-top: 30px;
}

.movieSection {
    display: flex;
    gap: 20px;
}